* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  display: block;
}

body {
  min-width: 90vw;
  min-height: 90vh;
  padding: 2rem;
  margin: 2px;
  background-color: aquamarine;
  border: 1px solid black;
}

#wrapper {
  min-width: 80vw;
  min-height: 80vh;
  background-color: antiquewhite;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 9fr 1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
    "left picture right"
    "circles circles circles";
}

#left {
  grid-area: left;
  /* border: 1px solid black; */
  /* color: grey; */
}

#right {
  grid-area: right;
  /* border: 1px solid black; */
}

#pic {
  grid-area: picture;
  /* border: 1px solid black; */
}

#pic > img {
  display: none;
}

#circles {
  grid-area: circles;
  /* border: 1px solid black; */
}

#circles > i {
    margin: 0.2rem;
}

#wrapper > div,
#actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}
